Checks: "bugprone-*,cert-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,google-*,hicpp-*,misc-*,modernize-*,performance-*,readability-*,-google-readability-todo,-readability-identifier-length,-readability-function-cognitive-complexity,-*-magic-numbers"
WarningsAsErrors: "*"
CheckOptions:
  - key: performance-unnecessary-value-param.AllowedTypes
    value: "std::stop_token"
