[init]
    defaultBranch = main
[user]
    email = justinottesen@gmail.com
    name = Justin Ottesen
[push]
    autoSetupRemote = true
[core]
    editor = nvim

[includeIf "gitdir:~/nasuni/"]
    path = ~/.config/git/config.nasuni
