---
Checks: 'bugprone-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         
         -modernize-use-trailing-return-type,
         -cppcoreguidelines-avoid-do-while'
CheckOptions:
  - key: lang.std
    value: 'c++20'
WarningsAsErrors: '*'
...

